<!doctype html>
  <head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script>
		$(function() {
		    var suggestedKeywords = [
				'about',
				'above',
				'across',
				'app',
				'apple',
				'appreciate',
				'bad',
				'ball',
				'balloon',
				'bell',
				'cat',
		    ];
		    $("#keyword").autocomplete({
    			source: suggestedKeywords
    		});
		});
	</script>
    <title>Rhumbix Coding Challenge</title>
  </head>
  <body>
	<div class="container">
	  <div class="row">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
	  </div>
	  <div class="row">
		<h4>Please submit a search term, and I'll display the first search result from the Giphy API.</h4>
	  </div>
	  <div class="row">
	  	<form action="/" method="POST">
	  		Search term: <input type="text" name="keyword" id="keyword" required> *
	  		<br/><input type="submit" value="Go!">
	  	</form>
	  </div>
	  <hr/>
	  <div class="row">
	  	<div id="giphy-image">
	  		<img src="{{ embed_url }}">
	  	</div>
	  </div>
	</div>
  </body>
</html>
